<h2>Buen Dia</h2>

<div>
    <h2>Bienvenido al chat, <span id="usernameDisplay"></span></h2>
    <img id="profileImage" src="" alt="Imagen de perfil" style="display: none; width: 50px; height: 50px; border-radius: 50%;">

    <form id="usernameForm">
        <input type="text" id="usernameInput" placeholder="Ingresa tu nombre de usuario">
        <input type="url" id="profileImageInput" placeholder="Ingresa la URL de tu imagen de perfil">
        <button type="submit">Ingresar</button>
    </form>
    
    <div id="chatSection" style="display: none;">
        <input id="chatbox">
        {{#each msg as |obj|}}
            <div>
                <img src="{{obj.profileImage}}" alt="Imagen de perfil" style="width: 30px; height: 30px; border-radius: 50%;">
                {{obj.user}} dice ({{obj.time}}): {{obj.message}}<br/>
            </div>
        {{/each}}
        <p id="log"></p>
    </div>

    <div>
        <form action="/api/users/logout" method="post">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>