<h1>Restablecer Contraseña</h1>

<form action="/api/users/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}">
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" name="newPassword" required>
    <button type="submit">Restablecer Contraseña</button>
</form>
