<h1>Subir Documentos</h1>
    <form action="/api/users/{{userId}}/documents" method="POST" enctype="multipart/form-data">
        <input type="file" name="documents" multiple>
        <button type="submit">Subir</button>
    </form>